.input-field-chat {
  width: 100%;
  background-color: rgb(245,245,245);
  border: 1px solid rgb(245,245,245);
  border-radius: 24px;
  padding: 8px 12px;
  font-weight: 440;
  outline: none;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .button-icon {
    font-size: 22px;
    color: #4456FA;
  }
  .button-icon:hover {
    opacity: 0.8;
  }
  .button-icon:active {
    opacity: 1;
  }
}